{% extends 'base.html' %}
{% load static %}

{% block title %}
	{{q.title}} - 知乎
{% endblock title %}

{% block main %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-lg-6 col-lg-offset-1">
			<div class="row-fluid">
				<div class="col-lg-12">
					<div>
						{% for topic in topics %}
							<a class="label label-primary" href="/topic/{{topic.id}}">
								{{topic.name}}
							</a>							
						{% endfor %}
					</div>
				</div>
				<div class="col-lg-12">
					<h3>
						<span>
							{{q.title}}
						</span>
					</h3>
				</div>
				<div class="col-lg-12">
					<div>
						<p>{{q.details}}</p>
					</div>
				</div>	
				<div class="col-lg-12">
					<p>
						<a href="#" name="report-question" class="pull-right" >
							<span class="glyphicon glyphicon-flag">举报
						</a>
						<a href="#" name="addcomment" >
							<span class="glyphicon glyphicon-comment">添加评论
						</a>
						<a href="#" >
							<span class="glyphicon glyphicon-share">分享
						</a>
						<span >•</span>
						<a href="#" name="invite">邀请回答</a>
					</p>
				</div>
				<div  class="col-lg-12">
					<hr />
					<div class="pull-right">
						<span>
							默认排序
						</span>
						<a  href="/question/{{q.id}}?sort=created">
							按时间排序
						</a>
						<i >
						</i>
					</div>
					<h3 >
						{{q.replies.count}} 个回答
					</h3>
					<hr />
				</div>	
				<div class="col-lg-12">
					{% for reply in replies %}	
						<div >					
							<link itemprop="url" href="/question/{{q.id}}/answer/{{reply.id}}">
							<meta itemprop="answer-id" content="{{reply.id}}">
							<meta itemprop="answer-url-token" content="{{reply.id}}">
							<a name="answer-{{reply.id}}"></a>					
							<div class="col-lg-1">
								<div class="btn-group-vertical " role="group">
									{% if reply.updownflag == 'U' %}
									<button type="button" class="btn btn-success btn-xs" title="赞同" id="up{{reply.id}}" data-replyid="{{reply.id}}" flag="up">
										<span class="glyphicon glyphicon-chevron-up"></span>
									</button>									
									{% else %}
									<button type="button" class="btn btn-default btn-xs" title="赞同" id="up{{reply.id}}" data-replyid="{{reply.id}}" flag="up">
										<span class="glyphicon glyphicon-chevron-up"></span>
									</button>
									{% endif %}
									<button type="button" class="btn btn-default btn-xs">
										<span class="count" id="votecount_{{reply.id}}">{{reply.up_vote}}</span>
									</button>
									{% if reply.updownflag == 'D' %}
									<button type="button" class="btn btn-success btn-xs" title="反对" id="down{{reply.id}}" data-replyid="{{reply.id}}" flag="down">
										<span class="glyphicon glyphicon-chevron-down"></span>
									</button>									
									{% else %}
									<button type="button" class="btn btn-default btn-xs" title="反对" id="down{{reply.id}}" data-replyid="{{reply.id}}" flag="down">
										<span class="glyphicon glyphicon-chevron-down"></span>
									</button>
									{% endif %}									
								</div>
							</div>
							<div class="col-lg-11">
								<div >
									<a  class="pull-right" href="{% url 'people' name=reply.author.user.username %}" target="_blank"
									data-hovercard="p$t$edtall">
										<img src="{{reply.author.avatar.url}}"
										class="zm-list-avatar avatar">
									</a>
									<span >
										<span >
											<a  target="_blank" href="{% url 'people' name=reply.author.user.username %}">
												{{reply.author.fullname}}
											</a>
										</span>
										<span class="badge-summary">
											{{reply.author.headline_brief}}
										</span>
									</span>
								</div>
								<div  data-votecount="{{reply.up_vote}}">
									<span class="voters text">
										&nbsp;
										<a href="#" class="more text">
											<span id="votecount_2_{{reply.id}}">
												{{reply.up_vote}}
											</span>
											&nbsp;人赞同
										</a>
									</span>
								</div>
								<div  class="panel panel-default">
									<div class="panel-body">
										<p>{{reply.details}}</p>
									</div>								
								</div>	
								<div >
									<p >
										<a itemprop="url" href="/question/{{q.id}}/answer/{{reply.id}}">
											发布于 {{reply.create_date}}
										</a>
										<a href="#" name="addcomment" >
											<i class="z-icon-comment">
											</i>
											{{reply.comments_count}} 条评论
										</a>
										<a href="#" >
											<i >
											</i>
											感谢
										</a>
										<a href="#" >
											<i >
											</i>
											分享
										</a>
										<a href="#" >
											<i >
											</i>
											收藏
										</a>
										<span >
											&bull;
										</span>
										<a href="#" >
											没有帮助
										</a>
										<span >
											&bull;
										</span>
										<a href="#" >
											举报
										</a>
										<span >
											&bull;
										</span>
									
									</p>
								</div>											
								<hr />		
							</div>											
						</div>
					{% endfor %}
				</div>							
			</div>
		</div>
		<div class="col-lg-2 col-lg-offset-1">
			<div >
				<div class="btn-group" role="group">
					{% if isfollow %}
					<button type="button" class="btn" id="interested" data-questionid="{{q.id}}">
						取消关注
					</button>
					{% else %}
					<button type="button" class="btn btn-success" id="interested" data-questionid="{{q.id}}">
						关注问题
					</button>					
					{% endif %}
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn dropdown-toggle" id="questionSetting" data-toggle="dropdown">
						<span class="glyphicon glyphicon-cog"></span>
						<span class="caret"></span>
					</button>
				    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				      <li role="presentation"><a href="#">使用匿名身份</a></li>
				      <li role="presentation" class="divider"></li>
				      <li role="presentation"><a href="#">问题重定向</a></li>
				    </ul>
				</div>
				<div>
					<div >
						<div >
							<a href="/question/{{q.id}}/followers">
								<strong id='followerscount'>
									{{q.followers_count}}
								</strong>
							</a>
							人关注该问题
						</div>
						<div>
						</div>
					</div>
				</div>
			</div>
			<div >
				<div >
					<h3>
						问题状态
					</h3>
					<div >
						最近活动于
						<span class="time">
							昨天 99:99
						</span>
						<span class="zg-bull">
							&bull;
						</span>
						<a href="/question/{{q.id}}/log">
							查看问题日志
						</a>
					</div>
					<div class="zg-gray-normal">
						被浏览
						<strong>
							99999
						</strong>
						次，相关话题关注者
						<strong>
							99999
						</strong>
						人
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	{% include 'footer.html' %}
{% endblock main %}