{% extends 'base.html' %}
{% load static %}

{% block title %}
	{{q.title}} - 知乎
{% endblock title %}

{% block main %}
	<div class="zg-wrap zu-main clearfix with-indention-votebar" itemscope itemtype="http://schema.org/Question" id="zh-single-question-page" data-urltoken="{{q.id}}" role="main">
		<div class="zu-main-content">
			<div class="zu-main-content-inner">

				<div class="zm-tag-editor zg-section">
					<div class="zm-tag-editor-labels zg-clear">
						{% for topic in topics %}
							<a class="zm-item-tag" href="/topic/{{topic.id}}" data-hovercard="t$b${{topic.id}}"
							data-token="{{topic.id}}" data-topicid="#">
								topic.name
							</a>							
						{% endfor %}
					</div>
				</div>
				<div id="zh-question-title" data-editable="true">
					<h2 class="zm-item-title">
						<span class="zm-editable-content">
							{{q.title}}
						</span>
					</h2>
				</div>
				<div id="zh-question-detail" class="zm-item-rich-text" 
				data-action="/question/detail">
					<div class="zm-editable-content">
						{{q.details}}
					</div>
				</div>	
				<div class="zm-item-meta zm-item-comment-el clearfix" id="zh-question-meta-wrap" data-za-module="QuestionItem">
					<div class="zm-meta-panel goog-scrollfloater">
						<a href="#" name="report-question" class="report zg-right">
							<i class="z-icon-report-o"></i>
							举报
						</a>
						<a href="#" name="addcomment" class="toggle-comment meta-item">
							<i class="z-icon-comment"></i>
							添加评论
						</a>
						<a href="#" name="share" class="share meta-item goog-inline-block goog-menu-button" role="button" aria-expanded="false" tabindex="0" aria-haspopup="true" style="-webkit-user-select: none;">
							<div class="goog-inline-block goog-menu-button-outer-box">
								<div class="goog-inline-block goog-menu-button-inner-box">
									<div class="goog-inline-block goog-menu-button-caption">
										<i class="z-icon-share"></i>
										分享
									</div>
								<div class="goog-inline-block goog-menu-button-dropdown">
									&nbsp;
								</div>
								</div>
							</div>
						</a>
						<span class="zg-bull">•</span>
						<a href="#" name="invite" class="meta-item">邀请回答</a>
					</div>
					<div class="panel-container">
						<div class="question-invite-panel"></div>
						<div class="zm-comment-box" style="display: none;"></div>
					</div>
				</div>	
				<div class="zh-answers-title clearfix">
					<div id="zh-answers-filter" class="Sorter">
						<span class="lbl">
							默认排序
						</span>
						<a class="lbl" href="/question/{{q.id}}?sort=created">
							按时间排序
						</a>
						<i class="zg-icon zg-icon-double-arrow">
						</i>
					</div>
					<h3 data-num="{{q.replies.count()}}" id="zh-question-answer-num">
						{{q.replies.count()}} 个回答
					</h3>
				</div>
				<div id="zh-question-answer-wrap" data-pagesize="10" class="zh-question-answer-wrapper"
					data-widget="navigable" data-navigable-options="{&quot;items&quot;: &quot;&gt;.zm-item-answer&quot;}"
					data-init="{&quot;params&quot;: {&quot;url_token&quot;: {{q.id}}, &quot;pagesize&quot;: 10, &quot;offset&quot;: 0}, &quot;nodename&quot;: &quot;QuestionAnswerListV2&quot;}">
					{% for reply in replies %}	
						<div tabindex="-1" class="zm-item-answer  zm-item-expanded" itemprop="topAnswer"
						itemscope itemtype="http://schema.org/Answer" data-aid="#" data-atoken="#"
						data-collapsed="0" data-created="#" data-deleted="0" data-helpful="1"
						data-isowner="0" data-copyable="1">					
							<link itemprop="url" href="/question/{{q.id}}/answer/{{reply.id}}">
							<meta itemprop="answer-id" content="{{reply.id}}">
							<meta itemprop="answer-url-token" content="{{reply.id}}">
							<a class="zg-anchor-hidden" name="answer-{{reply.id}}"></a>							
							<div class="zm-votebar">
								<button class="up ">
									<i class="icon vote-arrow">
									</i>
									<span class="count">
										{{reply.up_vote}}
									</span>
									<span class="label sr-only">
										赞同
									</span>
								</button>
								<button class="down ">
									<i class="icon vote-arrow">
									</i>
									<span class="label sr-only">
										反对
									</span>
								</button>
							</div>
							<div class="answer-head">
								<div class="zm-item-answer-author-info">
									<a class="zm-item-link-avatar avatar-link" href="{% url 'people' name=reply.author.user.username %}" target="_blank"
									data-hovercard="p$t$edtall">
										<img src="{{reply.author.avatar.url}}"
										class="zm-list-avatar avatar">
									</a>
									<span class="summary-wrapper">
										<span class="author-link-line">
											<a class="author-link" data-hovercard="p$t$edtall" target="_blank" href="{% url 'people' name=reply.author.user.username %}">
												{{reply.author.fullname}}
											</a>
										</span>
										<span class="badge-summary">
											{{reply.author.headline_brief}}
										</span>
									</span>
								</div>
								<div class="zm-item-vote-info" data-votecount="{{reply.up_vote}}">
									<span class="voters text">
										&nbsp;
										<a href="#" class="more text">
											<span class="js-voteCount">
												{{reply.up_vote}}
											</span>
											&nbsp;人赞同
										</a>
									</span>
								</div>
							</div>												
							<div class="zm-item-rich-text expandable js-collapse-body" data-resourceid="#"
							data-action="/answer/content" data-author-name="{{reply.author.fullname}}" data-entry-url="/question/{{q.id}}/answer/{{reply.id}}">
								<div class="zh-summary summary clearfix" style="display:block;">
									{{reply.details}}
								</div>								
							</div>
							<div class="zm-item-meta answer-actions clearfix js-contentActions">
								<div class="zm-meta-panel">
									<a itemprop="url" class="answer-date-link meta-item" target="_blank" href="/question/{{q.id}}/answer/{{reply.id}}">
										发布于 {{reply.create_date}}
									</a>
									<a href="#" name="addcomment" class="meta-item toggle-comment js-toggleCommentBox">
										<i class="z-icon-comment">
										</i>
										{{reply.comments_count}} 条评论
									</a>
									<a href="#" class="meta-item zu-autohide js-thank" data-thanked="false">
										<i class="z-icon-thank">
										</i>
										感谢
									</a>
									<a href="#" class="meta-item zu-autohide js-share">
										<i class="z-icon-share">
										</i>
										分享
									</a>
									<a href="#" class="meta-item zu-autohide js-collect">
										<i class="z-icon-collect">
										</i>
										收藏
									</a>
									<span class="zg-bull zu-autohide">
										&bull;
									</span>
									<a href="#" class="meta-item zu-autohide js-noHelp">
										没有帮助
									</a>
									<span class="zg-bull zu-autohide">
										&bull;
									</span>
									<a href="#" class="meta-item zu-autohide js-report">
										举报
									</a>
									<span class="zg-bull">
										&bull;
									</span>
								
								</div>
							</div>							
						</div>
					{% endfor %}
				</div>										
			</div>
		</div>
		<div class="zu-main-sidebar" data-za-module="RightSideBar">
			<div class="zm-side-section">
				<div class="zm-side-section-inner" id="zh-question-side-header-wrap">
					<button data-follow="q:m:button" class="follow-button zg-follow zg-btn-green"
					data-id="#">
						关注问题
					</button>
					<div class="zg-btn-white" id="zh-question-operation-menu">
						<i class="zg-icon-dropdown-menu zg-icon">
						</i>
						<b class="hide-text">
							设置
						</b>
					</div>
					<div class="zh-question-followers-sidebar">
						<div class="zg-gray-normal">
							<a href="/question/{{q.id}}/followers">
								<strong>
									{{q.followers_count}}
								</strong>
							</a>
							人关注该问题
						</div>
						<div class="list zu-small-avatar-list zg-clear">
						</div>
					</div>
				</div>
			</div>
			<div class="zm-side-section">
				<div class="zm-side-section-inner">
					<h3>
						问题状态
					</h3>
					<div class="zg-gray-normal">
						最近活动于
						<span class="time">
							昨天 99:99
						</span>
						<span class="zg-bull">
							&bull;
						</span>
						<a href="/question/{{q.id}}/log">
							查看问题日志
						</a>
					</div>
					<div class="zg-gray-normal">
						被浏览
						<strong>
							99999
						</strong>
						次，相关话题关注者
						<strong>
							99999
						</strong>
						人
					</div>
				</div>
			</div>
		</div>		
	</div>
	{% include 'footer.html' %}
{% endblock main %}