<div id="zh-footer" class="zh-footer">
	<div class="content zg-wrap clearfix">
		<ul>
			<li>
				<a href="#" target="_blank">
					刘看山
				</a>
			</li>
			<li>
				<a href="/question/#" target="_blank">
					知乎指南
				</a>
			</li>
			<li>
				<a href="javascript:;" id="js-feedback-button">
					建议反馈
				</a>
			</li>
			<li>
				<a href="/app" target="_blank">
					移动应用
				</a>
			</li>
			<li>
				<a href="/careers">
					加入知乎
				</a>
			</li>
			<li>
				<a href="/terms" target="_blank">
					知乎协议
				</a>
			</li>
			<li>
				<a href="/contact">
					联系我们
				</a>
			</li>
		</ul>
		<span class="copy">
			&copy; 2016 知乎
		</span>
	</div>
</div>