{% extends 'base.html' %}
{% load static %}

{% block title %}
	首页 - 知乎
{% endblock title %}

{% block script %}
<script src="{% static 'zhihuuser/js/interval.js' %}"></script>
{% endblock %}

{% block main %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-lg-6 col-lg-offset-1">
			<div class="row-fluid">
				<div class="col-lg-12">
					<button type="button" class="btn btn-info btn-lg btn-block" id="toprefresh" data-top="{{begin}}" data-bottom="{{end}}" data-count="{{count}}" data-needrefresh="0" style="display:none;">条新动态</button>
				</div>
				<div class="col-lg-12" id="timeline">
					{% include 'zhihuuser/refresh.html' %}
				</div>
				<div class="col-lg-12">
					{% if count == 0 %}
					<button type="button" class="btn btn-info btn-lg btn-block" id="bottomrefresh" data-top="{{begin}}" data-bottom="{{end}}" data-count="{{count}}" style="display:none;">更多...</button>
					{% else %}
					<button type="button" class="btn btn-info btn-lg btn-block" id="bottomrefresh" data-top="{{begin}}" data-bottom="{{end}}" data-count="{{count}}" style="display:block;">更多...</button>					
					{% endif %}
				</div>				
			</div>
		</div>
		<div class="col-lg-2 col-lg-offset-1">
		</div>
	</div>
</div>
{% endblock main %}